<html>
    <body>

        <center>

        <h1> ENERGY PREDICTION </h1><br>

        <form method="POST", action="{{url_for('home')}}">
           <b> Variable2:  <input type="text", name='a', placeholder="70-90"> <br><br>
            temperature :  <input type="text", name='b', placeholder="200-300"> <br><br>
            Time :  <input type="text", name='c', placeholder="0-10"> <br><br>
            Pressure: <input type="text", name='d', placeholder="0-30"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

        <img src='static\sust.jpg' width="350" height="250" alt="Energy">

    </center>

    </body>
</html>